<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org/DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kbstar.mapper.ItemMapper">
    <select id="search" parameterType="itemSearch" resultType="item">
        SELECT * FROM item
        <where>
            <if test="startdate != null and !startdate.equals('') ">
                rdate &gt;= TO_DATE(#{startdate},'YYYY-MM-DD')
            </if>
            <if test="enddate != null and !enddate.equals('')">
                AND rdate &lt;= TO_DATE(#{enddate},'YYYY-MM-DD')+0.9999
            </if>
            <if test="name != null and !name.equals('') ">
                AND name LIKE '%'||#{name}||'%'
            </if>
            <if test="price != null and !price.equals('') ">
                AND price &gt; #{price}
            </if>
        </where>
    </select>

    <select id="select" parameterType="Integer" resultType="item">
        SELECT *
        FROM item
        WHERE ID = #{id}
    </select>
    <!--    id는 ItemMapper의 함수의 이름들이다-->
    <select id="selectall" resultType="item">
        SELECT *
        FROM item
    </select>
    <insert id="insert" parameterType="item">
        INSERT INTO item
        VALUES (item_seq.NEXTVAL, #{name}, #{price}, #{imgname}, SYSDATE)
    </insert>
    <update id="update" parameterType="item">
        UPDATE item
        SET name=#{name},
            price=#{price},
            imgname=#{imgname}
        WHERE id = #{id}
    </update>
    <delete id="delete" parameterType="Integer">
        DELETE
        FROM item
        WHERE id = #{id}
    </delete>

</mapper>